{% include "base.html" %}

<!-- Title -->
<div class="pageTitle">
    <div class="container">
        <h2>Hello {{ current_user.username }}!</h2>
    </div>
</div>

<!-- Account Page -->
<div class="accountPage">
    <div class="container">
        <div class="row">

            <!-- Left Side -->
            <div class="col-md-6">
                <div class="left-tabs mb-5">
                    <ul class="nav nav-pills mb-4" id="account-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-summary-tab" data-toggle="pill" href="#pills-summary" aria-selected="true">Cars you listed</a>
                        </li>
                    </ul>

                    <!-- Account Tabs -->
                    <div class="tab-content" id="account-pillsContent">
                        <!-- Summary -->
                        <div class="tab-pane fade show active" id="pills-summary" role="tabpanel" aria-labelledby="pills-summary-tab">
                            <ul class="list-group">
                              {% for element in auctions %}
                              <li class="list-group-item">
                                  <div class="media">
                                      <img class="mr-3" src="..{{element.image}}">
                                      <div class="media-body">
                                          <h6 class="my-1">{{element.title}}</h6>
                                          <p class="card-text">Current bid: ${{element.bid}}</p>
                                          <p class="card-text">First bid: ${{element.startBid}}</p>
                                          <p class="card-text">Status: {{element.status}}</p>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <a href="{{url_for('main.close_auction',id=element.id)}}" class="btn btn-danger">Close auction</a>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              {% endfor %}




                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Right Side -->
            <div class="col-md-5">
                <!-- Watchlist -->
                <div class="watchList">
                    <h3>Watchlist </h3>
                    <!-- Watchlist vehicles -->
                    <ul class="list-group">
                      {% for element in watchlist %}
                      <li class="list-group-item">
                          <div class="media">
                              <img class="mr-3" src="..{{element.image}}">
                              <div class="media-body">
                                  <button type="button" class="close float-right" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  <h6 class="my-1">{{element.title}}</h6>
                                  <p class="card-text float-right"><small class="text-secondary">Bid: ${{element.bid}}</small></p>
                                  <p class="card-text">Colour: {{element.colour}}</p>
                                  <p class="card-text">Bids made: {{element.bidsMade}}</p>
                                  <a href="{{url_for('listings.vehicle',id=element.id)}}" class="btn btn-sm btn-primary float-right">Status: {{element.status}}</a>

                              </div>
                          </div>
                      </li>
                      {% endfor %}



                    </ul>
                    </div>
                    <nav aria-label="Watchlist pages">
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item">
                                <a class="page-link" href="#" tabindex="-1">&lt;&lt;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link active" href="#">1<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#">&gt;&gt;</a>
                                </li>
                        </ul>
                    </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="navbar navbar-dark navbar-static-bottom">
    <div class="container-fluid">
        <div class="container">
            <p>&copy; Copyright 2020</p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
