<!DOCTYPE html>
<html>
  <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styling/styles.css">
        <link rel="icon" href="../static/images/logo.png">
        <title>Car Auction</title>
    </head>
    <body>
        
        <div class="background-404"></div>
        <div class="error-menu">
            <div class="d-flex vh-100 justify-content-center align-items-center">
                <div class="error-message text-center">
                    <h1>Error {{ mes }}</h1>
                    <h2>{{ error }}</h2>
                    <a class="btn btn-lg btn-outline-danger btn-block mt-5" href="/">Take me home</a>
                </div>
            </div>
        </div>
    </body>
</html>