{% include "base.html" %}

<!-- Title -->
<div class="pageTitle">
    <div class="container">
        <h2>Create Listing</h2>
    </div>
</div>

<!-- Form for creating a listing -->
<div class="listingForm">
    <div class="container">
        <form>
            <div class="row">
                <!-- Left side -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="listtitle">Title</label>
                        <input class="form-control" type="text" placeholder="Title" aria-label="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="listDescription">Description</label>
                        <textarea class="form-control" placeholder="Description" required></textarea>
                    </div>
                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                            <label for="listBrand">Brand</label>
                            <select class="form-control" id="listBrand" required>
                                <option>Select Brand</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="listModel">Model</label>
                            <select class="form-control" id="listModel" required>
                                <option>Select Model</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                            <label for="listTransmission">Transmission</label>
                            <select class="form-control" id="listTransmission" required>
                                <option>Select Transmission</option>
                                <option>Automatic</option>
                                <option>Manual</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="listColour">Colour</label>
                            <select class="form-control" id="listColour" required>
                                <option>Select Colour</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                            <label for="listBody">Body Type</label>
                            <select class="form-control" id="listBody" required>
                                <option>Select Body Type</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="listYear">Year</label>
                            <select class="form-control" id="listYear" required>
                                <option>Select Year</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                            <label for="listRego">Registration</label>
                            <input class="form-control" type="text" placeholder="Registration" aria-label="Registration" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="listMileage">Mileage</label>
                            <input class="form-control" type="text" placeholder="Mileage" aria-label="Mileage" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="listLocation">Location</label>
                        <input class="form-control" type="text" placeholder="Location" aria-label="Location" required>
                    </div>
                    <div class="form-row mt-1">
                        <div class="col-sm-6">
                            <label for="inputMoney">Starting bid</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input class="form-control" type="text" id="inputMoney" placeholder="Amount">
                                
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="listDate">Auction End Date</label>
                            <input class="form-control" id="listDate" type="date">
                            
                        </div>
                    </div>
                </div>

                <!-- Right side -->

                <!-- Thumbnail -->
                <div class="col-md-6">
                    <figure class="figure">
                        <img src="../static/images/holden.jpg" class="img-thumbnail" id="listingImage">
                    </figure>
                    
                    <div class="custom-file" id="uploadFile">
                        <input type="file" class="custom-file-input" id="customFile" required>
                        <label class="custom-file-label" for="customFile">Upload Image</label>
                    </div>
                </div>
            </div>

            <!-- Create Listing Button -->
            <div class="listButton">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Create Listing</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer class="navbar navbar-dark navbar-static-bottom">
    <div class="container-fluid">
        <div class="container">
            <p>&copy; Copyright 2020</p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>