{% include "base.html" %}

<!-- Title -->
<div class="pageTitle">
    <div class="container">
        <h2>Create Listing</h2>
    </div>
</div>

<!-- Form for creating a listing -->
<div class="listingForm">
    <div class="container">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
            <div class="row">
                <!-- Left side -->
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.title.label()}}
                    {% if form.title.errors %}
                      {{ form.title(class="form-control is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                    {{ form.title(class="form-control")}}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.description.label()}}
                    {% if form.description.errors %}
                      {{ form.description(class="form-control is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                    {{ form.description(class="form-control")}}
                    {% endif %}
                  </div>

                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                          {{ form.brand.label()}}
                          {% if form.brand.errors %}
                            {{ form.brand(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.brand.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.brand(class="form-control")}}
                          {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                          {{ form.model.label()}}
                          {% if form.model.errors %}
                            {{ form.model(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.model.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.model(class="form-control")}}
                          {% endif %}
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                          {{ form.transmission.label()}}
                          {% if form.transmission.errors %}
                            {{ form.transmission(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.transmission.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.transmission(class="form-control")}}
                          {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                          {{ form.colour.label()}}
                          {% if form.colour.errors %}
                            {{ form.colour(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.colour.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.colour(class="form-control")}}
                          {% endif %}
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                          {{ form.body.label()}}
                          {% if form.body.errors %}
                            {{ form.body(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.body.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.body(class="form-control")}}
                          {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                          {{ form.year.label()}}
                          {% if form.year.errors %}
                            {{ form.year(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.year(class="form-control")}}
                          {% endif %}
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="form-group col-md-6">
                          {{ form.registration.label()}}
                          {% if form.registration.errors %}
                            {{ form.registration(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.registration.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.registration(class="form-control")}}
                          {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                          {{ form.mileage.label()}}
                          {% if form.mileage.errors %}
                            {{ form.mileage(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.mileage.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.mileage(class="form-control")}}
                          {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                      {{ form.location.label()}}
                      {% if form.location.errors %}
                        {{ form.location(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                          {% for error in form.location.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.location(class="form-control")}}
                      {% endif %}
                    </div>
                    <div class="form-row mt-1">
                        <div class="col-sm-6">
                          {{ form.start_bid.label()}}
                          {% if form.start_bid.errors %}
                            {{ form.start_bid(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.start_bid.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                           <div class="input-group">
                          <div class="input-group-prepend">
                              <div class="input-group-text">$</div>
                          </div>
                          {{ form.start_bid(class="form-control")}}
                          </div>
                          {% endif %}

                        </div>
                        <div class="form-group col-sm-6">
                          {{ form.auction_end.label()}}
                          {% if form.auction_end.errors %}
                            {{ form.auction_end(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                              {% for error in form.auction_end.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                          {% else %}
                          {{ form.auction_end(class="form-control")}}
                          {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Right side -->

                <!-- Thumbnail -->
                <div class="col-md-6">
                    <figure class="figure">
                        <img src="../static/images/holden.jpg" class="img-thumbnail" id="listingImage">
                    </figure>

                    <div class="custom-file" id="uploadFile">

                      {{ form.image.label()}}
                      {% if form.image.errors %}
                        {{ form.image(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                          {% for error in form.image.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.image(class="form-control")}}
                      {% endif %}
                    </div>
                </div>
            </div>

            <!-- Create Listing Button -->
            <div class="listButton">
                <div class="row">
                    <div class="col-md-6">
                      {{ form.submit(class="btn btn-primary btn-lg btn-block")}}

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer class="navbar navbar-dark navbar-static-bottom">
    <div class="container-fluid">
        <div class="container">
            <p>&copy; Copyright 2020</p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
