{% include "base.html" %}

<!-- Title -->
<div class="pageTitle">
    <div class="container">
        <h2>{{ vehicle.title }}</h2>
    </div>
</div>


<!-- Information -->
<div class="listingPage">
    <div class="container">
            <div class="row">
                <!-- Left side -->
                <div class="col-md-7">
                    <div class="car-thumbnail">
                        <!-- Thumbnail -->
                        <figure class="figure">
                            <img src="..{{vehicle.image}}" class="img-thumbnail" id="listingImage">
                        </figure>
                        <!-- Add to Watchlist-->
                        <div class="addWatch">
                            <a class="btn btn-sm btn-danger" href="{{url_for('listings.add_watchlist',id=vehicle.id)}}">Add to Watchlist</a>
                        </div>
                    </div>

                    <!-- Thumbnail tabs -->
                    <div class="tabGallery">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="..{{vehicle.image}}">
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="detailsNav my-5">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-desc-tab" data-toggle="pill" href="#pills-desc" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-feature-tab" data-toggle="pill" href="#pills-feature" aria-selected="false">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-details-tab" data-toggle="pill" href="#pills-details" aria-selected="false">Details</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <!-- Description Tab -->
                            <div class="tab-pane fade show active" id="pills-desc" role="tabpanel" aria-labelledby="pills-desc-tab">
                                {{ vehicle.description }}
                            </div>

                            <!-- Features Tab -->
                            <div class="tab-pane fade" id="pills-feature" role="tabpanel" aria-labelledby="pills-feature-tab">
                                <div id="accordion">
                                    <ul class="list-group">
                                        <!-- Audio -->
                                        <li class="list-group-item">
                                            <div class="card-title" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                        Audio & Connectivity
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Body -->
                                        <li class="list-group-item">
                                            <div class="card-title" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Body
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Interior -->
                                        <li class="list-group-item">
                                            <div class="card-title" id="headingThree">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Interior
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Interior -->
                                        <li class="list-group-item">
                                            <div class="card-title" id="headingFour">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    Exterior
                                                </button>
                                                </h5>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Interior -->
                                        <li class="list-group-item">
                                            <div class="card-title" id="headingFive">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    Seating
                                                </button>
                                                </h5>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <!-- Details Tab -->
                            <div class="tab-pane fade" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Brand</th>
                                            <td>{{ vehicle.brand }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Model Name</th>
                                            <td> {{ vehicle.model }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Transmission</th>
                                            <td> {{ vehicle.transmision }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Colour</th>
                                            <td> {{ vehicle.colour }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Body Type</th>
                                            <td> {{ vehicle.body }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Year</th>
                                            <td> {{ vehicle.year }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Mileage</th>
                                            <td> {{ vehicle.mileage }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Registration</th>
                                            <td> {{ vehicle.rego }} </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right side -->
                <div class="col-md-5">
                    <div class="userCard mb-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                              {% if vehicle.status == 'closed' %}
                                  Closed

                              {% else %}
                                Auction ends in: {{days}} h {{hours}} m
                              {% endif %}




                            </li>
                        </ul>
                    </div>
                    <!-- Bidding -->
                    <div class="biddingCard">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title">Current Bid</h1>
                                <h2 class="card-text">${{ vehicle.bid }}</h2>

                            </div>
                            <form class="form-inline" method="POST">
                                <div class="input-group mr-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input type="text" class="form-control" id="inputBid" placeholder="Bid" required name="newBidAmount">
                                </div>
                                <button type="submit" class="btn btn-primary">Place Bid</button>
                            </form>
                            <p class="text-center">Starting bid: ${{ vehicle.startBid }}</p>
                        </div>
                    </div>



                    <div class="reviewCards mt-5">
                        <!-- Header -->
                        <div class="row">
                            <div class="col-8">
                                <h4>Bids</h4>
                            </div>
                        </div>

                        <ul class="list-group col-12">
                          {% for element in vehicle.bids %}
                            <li class="list-group-item">
                                <div class="card-body">

                                    <h6 class="card-title">{{element.username}}<small class="text-muted font-italic"> - </small></h6>
                                    <p class="card-text">{{element.bid}}</p>

                                </div>
                            </li>
                            {% endfor %}

                        </ul>


                    </div>

                </div>
            </div>
    </div>
</div>


<!-- Footer -->
<footer class="navbar navbar-dark navbar-static-bottom">
    <div class="container-fluid">
        <div class="container">
            <p>&copy; Copyright 2020</p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
